{% extends "base.html" %}

{% block content %}
    <div class="container">
        <img src="{{ url_for('static', filename='uploads/' + image_path) }}" width="256" height="256">
        <table>
            <tr>
                <th>Rank</th>
                <th>Pokemon</th>
                <th>Confidence</th>
            </tr>
            {% for data in results["Top 10"]  %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ data }}</td>
                <td>{{ '%0.2f' | format(results["Confidence Levels"][loop.index-1]|float) }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <a href="{{ url_for('home') }}">Back</a>
{% endblock %}